@font-face {
  font-family: DMS7;
  src: url(../fonts/DMSans-Bold.ttf);
}
@font-face {
  font-family: DMS5;
  src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: DMS4;
  src: url(../fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: R4;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: R5;
  src: url(../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: R4;
  src: url(../fonts/Rubik-Regular.ttf);
}
